*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1
{
    width: 100vw;
    height: 25vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.logo
{
    margin: 0;
    padding: 0;
    height: 100%;
}
.nav
{
    height: 8vh;
    width: 100vw;
    background-color: rgb(136, 36, 12);
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons
{
    text-decoration: none;
    color: rgb(224, 150, 54);
    text-align: center;
    font-weight: bold;
    justify-content: space-evenly;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10px;
    padding: 10px 10px;
}
.buttons:hover
{
    color: white;
}
.section2
{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.video
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.section3
{
    width: 100vw;
    height: 150px;
    background-color: black;
}
#theexclusive
{
    text-align: center;
    font-family: Kode Mono, Permanent Marker, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(238, 155, 86);
    background-color: black;
    padding-top: 70px;
}
.section4
{
    width: 100vw;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.product 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productimage 
{
    width: 300px;
    height: 300px;
}
#secondimage
{
    margin-left: 20px;
}
h3 
{
    color: rgb(238, 155, 86);
    margin: 10px;
    padding: 10px;
    font-family: Quattrocento,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.products
{
    text-decoration: none;
}
h3:hover
{
    color: white;
}
.section5
{
    width: 100vw;
    height: 100px;
    background-color:black;
}
.footer
{
    color: rgb(238, 155, 86);
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: IBM Plex Mono,Arial, Helvetica, sans-serif;
}